@import 'tailwindcss';

@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@theme inline {
  --font-title: var(--font-lobster);
  --font-text: var(--font-gilroy);
  --color-primary: #b4362e;
  --color-secondary: #811d16;
  --color-tertiary: #fef7e6;
  --breakpoint-xs: 480;
  --breakpoint-xl: 1200 !important;
}

@utility text-textured-* {
  background-image: --value([image]);
  background-repeat: repeat;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: var(--font-gilroy);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
